@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --G-Blue: #0b0f4a;
  --G-Orange: #f06d49;
  --G-LightO: #ffa264;
  --G-GreyBlue: #e0eaf9;
  --G-White: #ffffff;
  --G-BG-Gray: rgb(228, 228, 228);
  --G-Green: #85d3c4;
  --editor-bg: #1b1b1b;

  font-family: 'poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: 0.5s all ease; */
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* .ctn {
  border: 1px solid black;
} */

body {
  /* background-color: var(--G-White); */
  background-color: rgb(228, 228, 228);
  height: 100vh;
  overflow: hidden;
}

#body-ctn {
  margin: 0 auto;
  /* margin-top: 4rem; */
  height: 95vh;
  width: 95%;
  position: relative;
  overflow-y: hidden;
}

#loggingIn {
  width: 50px;
  height: 25px;
}

/* ---------------------------galvanize bg colors */

.bg-g-blue {
  background-color: var(--G-Blue);
}
.bg-g-gray {
  background-color: var(--G-BG-Gray);
}
.bg-g-green {
  background-color: var(--G-Green);
}
.bg-g-greyblue {
  background-color: var(--G-GreyBlue);
}
.bg-g-lightorange {
  background-color: var(--G-LightO);
}
.bg-g-orange {
  background-color: var(--G-Orange);
}
.bg-g-editor {
  background: var(--editor-bg);
}

/* ----------------------------------------text colors */
.g-blue {
  color: var(--G-Blue);
}
.g-green {
  color: var(--G-Green);
}
.g-greyblue {
  color: var(--G-GreyBlue);
}
.g-orange {
  color: var(--G-Orange);
}
.g-lightorange {
  color: var(--G-LightO);
}

#contents-ctn {
  background-color: var(--G-White);
}

.editor-ctn {
  transition: 0s;
}

#timer-ctn {
  transition: 0.5s all ease-in-out;
}

#timer-ctn:hover {
  opacity: 0.9;
}

.g-btn {
  transition: 0.5s all ease-in-out;
  border: none;
  outline: none;
}

.g-btn:hover {
  /* background-color: rgb(23, 48, 114); */
  background-color: var(--G-Blue);
}

#timer-ctn {
  transition: 0.5s all ease;
}

/* -------------------------CSS Animations */

/* .btn:hover {
  background: #fff;
  box-shadow: 0px 2px 20px 10px #97B1BF;
  color: #000;
} */
